*{
    font-family: 'Roboto', sans-serif;
}

h4{
    margin-top: 20px;
}

label{
    font-weight: bold;
}

main {
    max-width: 1200px;
    margin:0 auto;
}

.hero{
    display: grid;
    grid-template-columns: minmax(300px, 2fr) 3fr;
    grid-auto-rows: 550px;
}

.h1Header{
    font-size: 120px;
    margin-top: 20%;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    

    /* @media screen and (max-width:960px){
        font-size: 80px;
    } */
}

.lead{
    font-size: auto;
    
}

@media screen and (max-width: 960px){
    .h1Header{
        font-size: 80px;
    }
    .lead{
        font-size: auto;
    }
}

.hero-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.info{
    align-self: center;
}

.info-title{
    color:#080708;
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom:24px;
}

.info-subtitle{
    color:#080708;
    font-size: 1rem;
    margin-bottom: 24px;
}


@media screen and (max-width: 768px){
    .hero{
        grid-template-columns: minmax(300px, 500px);
        justify-content: center;
    }
    /* .h1Header{
        font-size: 6px;
    } */
    .hero-img{
        display: none;
    }

    .display-grid{
        grid-template-columns: repeat(auto-fit, minmax(75px, 100px));
    }

}

.section-title{
    color: #080708;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

/* About section */

.cards-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 360px));
    grid-auto-rows: 1fr;
    gap:20px;
    justify-content: center;
}

.card{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.about-img{
    max-width: 360px;
    max-height: 360px;
}

/* Login section */

.login-container{
    padding: 16px;
    text-align: center;
    margin-top: 20%;
    
}

.login-label{
    font-size: 1rem;
    font-weight: bolder;
}

/* input[type=text], input[type=password] {
    width: 640px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #F8F4F9;
    box-sizing: border-box;
    
  } */

.login-button{
    border:none;
    border-radius: 20px;
    /* color:#080708; */
    color:#F8F4F9;
    background-color: #fb8c00;
    font-weight: bold;
    padding: 12px 24px 12px 24px;
    margin: 25px 20px 25px;
    cursor: pointer;
    font-size: 1rem;

}

.remember-checkbox{
    font-size: 12px;

}

.third-party-login{
    text-align: center;
}

.sign-up-link{
    text-align: center;
    font-size: 1rem;
}



@media screen and (max-width:640px){
    /* input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #F8F4F9;
        box-sizing: border-box;
        
      } */

      .dashboard-table{
          max-width: 100%;
          font-size: 0.7rem;
      }
}

.smedia-icon{
    font-size: 2rem;
}

/* Dashboard elements */

.dashboard-table{
    max-width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

.dashboard-plot{
    max-width: 100vh;
    max-height: 100vh;
    margin-right: auto;
    margin-left: auto;
}

.dashboard-container{
    text-align: center;
}

.current-month{
    color: #080708;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.balance{
    color:#080708
}

.dashboard-header{
    text-align: center;
    grid-row: auto;
}

.buttons-dashboard-container{
    border-radius: 20%;
    padding: 10px 5px 10px 5px;
    
    
}
.button-dashboard{
    font-size: 1.2rem;
    width: 120px;
    color: #F8F4F9;
    border-right: #080708;
    background-color: #FF8210;
    border-color: white;
    box-shadow: inset;

}

.FAB-transaction{
	display: inline-block;
	width: 42px;
	height: 42px;
	line-height: 42px;
	vertical-align: middle;
	background: #FF8210;
	border-radius: 50%;
	border: none;
	box-shadow: 0 2px 4px rgba(0,0,0,.2);
	text-align: center;
    justify-items: center;
    font-size: 2.5rem;
    /* color:#080708; */;
    color:#F8F4F9;
    /* color:#F8F4F9; */
    cursor: pointer
}

.previous_button{
    
    color: #080708;
    border-radius: 100%;
    font-size: 2.5rem;
    border-width: 0px;
    background-color: white;

}

.next_button{
    
    color: #080708;
    border-radius: 100%;
    font-size: 2.5rem;
    border-width: 0px;
    background-color: white;

}

.logo{
    width: fit-content;
    height:80px;
    
}


/* MODAL */

.mymodal{
    /* display: none; Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;


  }

  /* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }