*{
    font-family: 'Roboto', sans-serif;
}

main {
    max-width: 1200px;
    margin:0 auto;
}

.hero{
    display: grid;
    grid-template-columns: minmax(300px, 2fr) 3fr;
    grid-auto-rows: 550px;
}

.hero-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.info{
    align-self: center;
}

.info-title{
    color:#333;
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom:24px;
}

.info-subtitle{
    color:#333;
    font-size: 1rem;
    margin-bottom: 24px;
}


@media screen and (max-width: 768px){
    .hero{
        grid-template-columns: minmax(300px, 500px);
        justify-content: center;
    }
    .hero-img{
        display: none;
    }

    .display-grid{
        grid-template-columns: repeat(auto-fit, minmax(75px, 100px));
    }

}

.section-title{
    color: #333;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

/* About section */

.cards-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 360px));
    grid-auto-rows: 1fr;
    gap:20px;
    justify-content: center;
}

.card{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.about-img{
    max-width: 360px;
    max-height: 360px;
}

/* Login section */

.login-container{
    padding: 16px;
    text-align: center;
    margin-top: 20%;
    
}

.login-label{
    font-size: 1rem;
    font-weight: bolder;
}

input[type=text], input[type=password] {
    width: 640px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
  }

.login-button{
    border:none;
    border-radius: 20px;
    color:#333;
    background-color: #fb8c00;
    font-weight: bold;
    padding: 12px 24px 12px 24px;
    margin: 25px 20px 25px;
    cursor: pointer;
    font-size: 1rem;

}

.remember-checkbox{
    font-size: 12px;

}

.third-party-login{
    text-align: center;
}

.sign-up-link{
    text-align: center;
    font-size: 1rem;
}

@media screen and (max-width:640px){
    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        
      }
}

.smedia-icon{
    font-size: 2rem;
}