.card_horizontal{
    border-radius: 20px;
    border-style: groove;
    max-width:100%;
    display: grid;
    padding: 1rem 0rem 1rem 0rem;
    /* padding-top: 1rem; */
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 1.5rem;
    width: 600px;
}

.top_container{
    display: grid;
    grid-template-columns: repeat(2, auto) 30px;
}

.bottom_container{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.budget_balance{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

@media screen and (max-width:640px){
    .card_horizontal{
        max-width: 100%;
        width: 99%;
        font-size: 0.9rem;
    }
    .budget_balance{
        font-size: 2rem;
    }
}

.budget_delete{
    width: 30px;
    height: 30px;
    float: right;
    background-color: white;
    border: none;
    color: gray;
    
    
}